body {
  color: black;
}

.resultatet {
  margin-top: 50px;
  width: 100px;
  height: 20px;
}
#Container {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 300px;
}

.buttens {
  width: 40px;
  height: 40px;
  float: left;
}
